{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AllowSwitchToVpcPcxCaaRole",
            "Effect": "Allow",
            "Principal": {
                "AWS": {hub_iam_administrators}
            },
            "Action": "sts:AssumeRole",
            "Condition": {
                "StringEquals": {
                    "sts:ExternalId": "{hub_assume_role_external_id}"
                }
            }
        }
    ]
}